/* reset */
html, body, div, label {
  font: inherit;
  color: inherit;
  background: inherit;
}

body {
  font-family: sans-serif;
  background: #eee;
}

.d3-tip {
  background: white;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 5px;
}

.d3-tip > table > tbody > tr > th, td {
  padding: 5px;
}

.d3-tip > table > tbody > tr > th {
  border-bottom: 1px solid steelblue;
}

.d3-tip > table > tbody > tr > th, td {
  border-right: 1px solid steelblue;
}

.d3-tip > table > tbody > tr > th:last-child, td:last-child {
  border-right: 0;
}

.node:hover {
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  left: calc((100% * .1) - 40px);
  top: 20px;
}
