/*.node {

}

.node.inactive {
  visibility: hidden;
}

.node.active {
  visibility: visible;
}*/

.d3-tip {
  background: white;
  text-align: center;
}

.d3-tip > table > tbody > tr > td {
  padding: 5px;
}
