/* reset */
html, body, h1, h2, h3, div, ul, li, a, p, figure, button, textarea, form, label {
  margin: 0;

  font: inherit;
  vertical-align: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

input:focus, button:active, button:focus, select:focus {
  outline: 0;
}

p {
  text-align: center;
}

body {
  font-family: sans-serif;
  background: #eee;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.d3-tip {
  background: white;
  text-align: center;
  border: 1px solid steelblue;
  border-radius: 5px;
}

.d3-tip > table > tbody > tr > th, td {
  padding: 5px;
}

.d3-tip > table > tbody > tr > th {
  border-bottom: 1px solid steelblue;
}

.d3-tip > table > tbody > tr > th, td {
  border-right: 1px solid steelblue;
}

.d3-tip > table > tbody > tr > th:last-child, td:last-child {
  border-right: 0;
}

.node:hover, button:hover, a:hover {
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  left: calc((100% * .1) - 40px);
  top: 20px;
}

.nav-bar > * {
  margin: 0 10px;
}

button {
  background: white;
}

input[type="file"] {
  display: none;
}

.filters {
  float: left;
  display: inline-block;
}

.buttons {
  float: left;
}
